{% extends "layout.html" %}

{% block main %}
<section id="aboutus">
    <div class="about-section" style="width:100%">
      <h1>About Us</h1>
      <p>Music is what make us feel like we are not an individual but a family.</p>
      <p>Presenting our cosmic rangers</p>
    </div>
    <div class="team-member">
      <img class="profilepic" src="/static/images/vaishnavi2.png" alt="Team Member 1">
      <h2>Vaishnavi Tiwari</h2>
      <p>HTML,CSS</p>
      <p>vaishnavi.20233301@mnnit.ac.in</p>
  </div>

  <div class="team-member" style="background-color:#444;">
      <img class="profilepic" src="/static/images/Prakhar.jpg" alt="Team Member 2">
      <h2>Prakhar</h2>
      <p>Flask and Python</p>
      <p>prakhar.20233545@mnnit.ac.in</p>
  </div>
  <div class="team-member">
      <img class="profilepic" src="/static/images/vartika.jpeg" alt="Team Member 2">
      <h2>Vartika Singh</h2>
      <p>JAVASCRIPT</p>
      <p>vartika.202333@mnnit.ac.in</p>
  </div>
</section>
<footer id="f1" class="copyright">
  <p>&copy;Team enforcers 2023.<br> All rights reserved.</p>
</footer>
{% endblock %}